.form {
  /* border: 1px solid gray; */
  width: 400px;
  margin-top: 120px;
  margin-left: 200px;
}
.form__title {
  padding-left: 70px;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
.form__btn {
  border: #ffffff;
  background-color: #ffffff;
  color: #f16b6f;
  width: 100%;
}

.form__btn:hover,
.form__btn:focus {
  background-color: #f16b6f;
  color: #ffffff;
}

.change_btn {
  color: white;
  cursor: pointer;
}
